.skill{
    padding:  20px 20px ;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}
.skill-h2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
    margin-bottom:  40px 40px;
    font-family: 'Source Sans Pro', sans-serif;
}
.slill-item-con{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}
.skill-item{
    border-radius:20px ;
    background-color: #15202b96;
    padding: 15px;
    max-width: 400px;
    box-shadow: 0 8px 20px rgba(253, 252, 252, 0.2);
}
.skill-item h3{
    padding-bottom: 10px;
    font-style: oblique;
    font-family: 'Source Sans Pro', sans-serif;
}
.skill-item p{
    text-align: justify;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Work Sans', sans-serif;
}
.skill-h3{
    text-align: center;
    margin: 60px auto 20px;
    font-size: 25px;
    padding-bottom: 2px;
    border-bottom: 1px solid;
    border-width: 1px;
    width: fit-content;
}
.skill .skill-logo{
    padding: 20px 0;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
    animation: logoRight 15s linear infinite;
}
.skill .skill-logo img{
    height: 100%;
    transition: transform 0.3s ease;
}
@keyframes moveleft{
    from{
        opacity: 0;
        scale: 0.5;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0%);
    }
}
@keyframes logoRight {
    0%{
        transform: translateX(100%);
    }
    50%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}


@media(max-width: 550px){
    .skill{
        padding: 20px;
    }
    .skill-item p{
        font-size: 13px;
    }
    .slill-item-con{
        gap: 40px;
    }
    .skill-h3{
        margin: 40px auto 20px;
    }
    .skill .skill-logo{
        gap: 20px;
        animation: logoRight 10s linear infinite;
    }
}